BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
egenix-mx-base==3.2.9
everypolitician==0.0.13
lxml==4.6.2
python-dateutil==2.2
requests[security]==2.21.0
requests-cache==0.4.13
Click==7.0
click-log==0.3.2
