  <div class="row">
    <div class="large-12 columns">
      <footer>

        <p><small>
          Published with <a href="http://pages.github.com">GitHub Pages</a>.
          Pull requests welcome to our
          <a href="https://github.com/mysociety/parlparse">git repository</a>.
          </small></p>
      </footer>
    </div>
  </div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'http://mysociety.github.io/assets/js/vendor/zepto' : 'http://mysociety.github.io/assets/js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="http://mysociety.github.io/assets/js/foundation/foundation.js"></script>

  <script>
    $(document).foundation();
  </script>

  <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-660910-17', 'parser.theyworkforyou.com');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');

  </script>

</body>
</html>
