<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" ><!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }} - parlparse</title>


    <link rel="stylesheet" href="http://mysociety.github.io/assets/css/style.css">

    <script src="http://mysociety.github.io/assets/js/vendor/custom.modernizr.js"></script>

</head>
<body>

<div class="row">
    <div class="large-12 columns">

    <h1><a href="http://www.mysociety.org"><img src="http://mysociety.github.io/assets/img/logo_ms.png" style="height:30px;vertical-align:bottom" alt="mySociety"></a>
    <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}assets/img/parlparse.png" style="height:85px;vertical-align:bottom" alt="parlparse"></a></h1>

    </div>
</div>
