# crontab for parlparse, part of ukparse

# m h dom mon dow command

# update latest stuff from parliament.uk in the morning.  
# parliament.uk is meant to update by 6am
13 6 * * * $HOME/parlparse/scripts/morningupdate

# daily update at night for MP data (regmem, data from Public Whip etc.)
37 1 * * * $HOME/parlparse/scripts/dailyupdate
