{% include header.html %}

<div class="row">
	<div class="large-12 columns">

		<h2>ParlParse: {{ page.title }}</h2>

        <ul class="inline-list">
            <li><a href="/">Home</a></li>
            <li><a href="members.html">Members</a></li>
            <li><a href="hansard.html">Hansard</a></li>
            <li><a href="parser.html">Parser</a></li>
        </ul>

		<hr>

	</div>
</div>

<div class="row">
	<div class="large-12 columns">

		{{ content }}

	</div>
</div>

{% include footer.html %}
